body{
  background-color: #14E86E;
  font-family: 'Lato', sans-serif;
}
header h1{
  color:#65626C;
  font-size:
}
header{
  display: flex;
  justify-content: center;
}
.me{
  width: 30%;
}
section ul{
  display: flex;
  justify-content: space-around;
}
section li{
  list-style: none;
}
section .fa{
  font-size: 50px;
  color: grey;
}
section .fa:hover{
  color:#460CCF;
}
section p {
  text-align: center;
}
table{
  display: flex;
  justify-content: center;
}
td{
  border: 2px solid black;
  text-align: center;
}
